<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment"></header>
<body class="hold-transition sidebar-mini">
<link th:href="@{/admin/plugins/editormd/css/editormd.css}" rel="stylesheet"/>
<link th:href="@{/admin/plugins/tagsinput/jquery.tagsinput.css}" rel="stylesheet"/>
<link th:href="@{/admin/plugins/select2/select2.css}" rel="stylesheet"/>
<div class="wrapper">
	<!-- 引入页面头header-fragment -->
	<div th:replace="admin/header::header-nav"></div>
	<!-- 引入工具栏sidebar-fragment -->
	<div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
			</div><!-- /.container-fluid -->
		</div>
		<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
				<div class="card card-primary card-outline">
					<div class="card-header">
						<h3 class="card-title">上传文件</h3>
					</div>
					<!-- 几个基础的输入框，名称、分类等输入框 -->
					<form id="mediaForm" onsubmit="return false;">
						<div class="card-body">

							<div class="row" style="border-top: 0px solid #ddd;padding-top: 0px;">
								<input type="hidden" id="mediaId" name="mediaId"
									   th:value="${media!=null and media.mediaId!=null }?${media.mediaId}: 0">
								<input type="text" class="form-control col-sm-12" id="mediaTitle" name="mediaTitle"
									   placeholder="*请输入文件标题(必填)"
									   th:value="${media!=null and media.mediaTitle!=null }?${media.mediaTitle}: ''"
									   required="true">
							</div>
							<div class="row" style="border-top: 0px solid #ddd;">
								<div class="col">
									<th:block th:if="${null == media}">
										<img id="mediaCoverImage" src="\blog\artland\img\img-01-big.jpg"
											 style="width: inherit;display:block;">
									</th:block>
									<th:block th:unless="${null == media}">
										<img id="mediaCoverImage" th:src="${media.mediaCoverImage}"
											 style="width: inherit;display:block;">
									</th:block>
									<!--<img style="width: inherit;" src="\blog\artland\img\img-01-big.jpg">-->
								</div>
								<div class="col">
									<div class="row" style="border-top: 0px solid #ddd;padding-top: 0px;">
										<input type="text" class="form-control" id="mediaTags" name="mediaTags"
											   placeholder="请输入文件标签"
											   th:value="${media!=null and media.mediaTags!=null }?${media.mediaTags}: ''"
											   style="width: 100%;">
									</div>
									<div class="row" style="border-top: 0px solid #ddd;">
										<input type="text" class="form-control" id="mediaSubUrl" name="mediaSubUrl"
											   placeholder="请输入自定义路径,如:abc,默认为id"
											   th:value="${media!=null and media.mediaSubUrl!=null }?${media.mediaSubUrl}: ''"
											   style="width: 100%;">
									</div>
									<div class="row" style="border-top: 0px solid #ddd;">
										<select class="form-control select2" style="width: 100%;" id="mediaCategoryId"
												data-placeholder="请选择分类...">
											<th:block th:if="${null == categories}">
												<option value="0" selected="selected">默认分类</option>
											</th:block>
											<th:block th:unless="${null == categories}">
												<th:block th:each="c : ${categories}">
													<option th:value="${c.categoryId}" th:text="${c.categoryName}"
															th:selected="${null !=media and null !=media.mediaCategoryId and media.mediaCategoryId==c.categoryId} ?true:false">
														>
													</option>
												</th:block>
											</th:block>
										</select>
									</div>
									<div class="row" style="border-top: 0px solid #ddd;">
									<textarea style="display:block;" class="form-control"
											  placeholder="请输入文件详细描述"
											  id="mediaDescription" name="mediaDescription"
											  th:utext="${media!=null and media.mediaDescription !=null}?${media.mediaDescription}: ''"></textarea>
									</div>
									<div class="row" style="border-top: 0px solid #ddd;">
									<textarea style="display:block;" class="form-control"
											  placeholder="请输入文件许可"
											  id="mediaLicense" name="mediaLicense"
											  th:utext="${media!=null and media.mediaLicense !=null}?${media.mediaLicense}: ''"></textarea>
									</div>
									<div class="row" style="border-top: 0px solid #ddd;">
										<label class="control-label">文件状态:&nbsp;</label>
										<input name="mediaStatus" type="radio" id="publish"
											   checked=true
											   th:checked="${null==media||(null !=media and null !=media.mediaStatus and media.mediaStatus==1)} ?true:false"
											   value="1"/>&nbsp;发布&nbsp;
										<input name="mediaStatus" type="radio" id="draft" value="0"
											   th:checked="${null !=media and null !=media.mediaStatus and media.mediaStatus==0} ?true:false"/>&nbsp;临时&nbsp;
									</div>
									<div class="row" style="border-top: 0px solid #ddd;">
										<label class="control-label">是否允许评论:&nbsp;</label>
										<input name="enableComment" type="radio" id="enableCommentTrue" checked=true
											   th:checked="${null==media||(null !=media and null !=media.enableComment and media.enableComment==0)} ?true:false"
											   value="0"/>&nbsp;是&nbsp;
										<input name="enableComment" type="radio" id="enableCommentFalse" value="1"
											   th:checked="${null !=media and null !=media.enableComment and media.enableComment==1} ?true:false"/>&nbsp;否&nbsp;
									</div>
									<div id="divHiddenArea">
										<input type="hidden" id="mediaDimension" name="mediaDimension"
											   th:value="${media!=null and media.mediaDimension!=null }?${media.mediaDimension}: 0">
										<input type="hidden" id="mediaFormat" name="mediaFormat"
											   th:value="${media!=null and media.mediaFormat!=null }?${media.mediaFormat}: 0">
										<input type="hidden" id="mediaSize" name="mediaSize"
											   th:value="${media!=null and media.mediaSize!=null }?${media.mediaSize}: 0">
									</div>
								</div>
							</div>
						</div>
						<div class="row" style="border-top: 0px solid #ddd;float: right;">
							<!-- 按钮 -->
							<button class="btn btn-secondary float-right" style="margin: 0 0 20px 0;"
									id="cancelButton">返回文件列表
							</button>
							<button class="btn btn-info float-right" style="margin:0 20px 20px 10px;"
									id="confirmButton">上传文件
							</button>

						</div>
					</form>
				</div>

			</div>
		</div><!-- /.container-fluid -->
	</div>
</div>
<!-- /.content-wrapper -->
<!-- 引入页脚footer-fragment -->
<div th:replace="admin/footer::footer-fragment"></div>
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
<!-- editor.md -->
<script th:src="@{/admin/plugins/editormd/editormd.min.js}"></script>
<!-- tagsinput -->
<script th:src="@{/admin/plugins/tagsinput/jquery.tagsinput.min.js}"></script>
<!-- Select2 -->
<script th:src="@{/admin/plugins/select2/select2.full.min.js}"></script>
<!-- sweetalert -->
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<!-- ajaxupload -->
<script th:src="@{/admin/plugins/ajaxupload/ajaxupload.js}"></script>
<script th:src="@{/admin/dist/js/public.js}"></script>
<script th:src="@{/admin/dist/js/transfer.js}"></script>
</body>
</html>
